p{
    color: #575757;
    font-family: sans-serif;
}

a h1{
    font-family: myFirstFont;
    font-size: 8em;
    color: black;
    padding-top: 15px;
    padding-bottom: 150px;
    letter-spacing: 10px;
}

.menu a{
    color: white;
}

.menu a:hover{
    color: white;
}

div{
    padding-bottom: 50px;
}

.menu{
    background: black;
    width: 400px;
    height: 100vh;/***100% of the height of the viewport***/
    position: fixed;
    right: -400px;
    z-index: 1000;
    opacity: 0.8;
    padding-top: 300px;
}


@font-face{
    font-family:myFirstFont;
    src: url(Pacmania.ttf);
}